@model Category
@{
    ViewData["Title"] = "Detail";
}

<main id=" main" class="main">
    <div class="container " style="margin-left:350px;margin-top:200px;max-width:1160px">
        <div class="row">
            <div class="col-md-5">


                <div class="project-info-box">
                    <p><b>Name:</b> @Model.Name</p>
                    <p><b>Description:</b> @Model.Description</p>
                    <p><b>Created date:</b> @Model.CreatedDate</p>


                </div><!-- / project-info-box -->


                <div class="col-md-7">
                    <img style="witdh:200px;height:200px;" src="~/assets/images/@Model.Image" alt="project-image" class="rounded">
                    <div class="project-info-box">
                        <p><b>Categories:</b> </p>
                        <a asp-action="Index" class="btn btn-success">Back</a>
                    </div><!-- / project-info-box -->
                </div><!-- / column -->
            </div>
        </div>
</main>
